<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css" media="screen" title="no title">
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <script src="vue.js" charset="utf-8"></script>

  </head>
  <body>
    <div class="container" id="app" @keydown="mainHandleKeyEvent" @keyup="resetKeys" tabindex="0" autofocus>
      <div class="password" v-if="isInputPass">
        <input type="password" placeholder="password" @focusout="isInputPass=!isInputPass" @keyUp.enter="enterEditMode" v-model="password" v-focus-on-display>
      </div>
      <div class="top">

      </div>
      <div class="top-nav">
        <div class="search-container">
          <input type="text" name="name" placeholder="Find apps..." v-model="searchInput" @keypress="selectedCat = {}" @focus="getAllApps">
          <button class="icon-wrap"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="mid-section unselectable" draggable="false">
        <div class="left-nav" draggable="false">
          <ul class="categories" draggable="false">
            <li v-for="(category,index) in appCategories" @click="setSelectedCat(category)" v-bind:class="{'active': category.categoryName == selectedCat.categoryName}" v-bind:draggable="isEdit"
            v-drag-n-sort="{group:'categories',index:index,list:appCategories}" tabindex="1" @keydown="catHandleKeyEvent(appCategories,index,$event)" @keyUp="resetKeys">
              {{category.categoryName}}
            </li>
          </ul>
        </div>
        <div class="contents unselectable" draggable="false">
          <div class="wrapper" v-bind:style="scrollStyle" v-for="category in appCategories" v-if="selectedCat.categoryName == category.categoryName" draggable="false">
            <div class="app-container" tabindex="-1" v-for="(app, index) in category.apps" v-bind:draggable="isEdit"
            v-drag-n-sort="{group:'apps',index:index, list:category.apps}" @keydown="appHandleKeyEvent(category.apps,index, $event)" @keyUp="resetKeys">
              <div class="img-container" draggable="false">
                <img v-bind:src="app.imagePath" alt="" draggable="false">
              </div>
              <div class="app-name" draggable="false">
                <p draggable="false" v-bind:contenteditable="isEdit" @keydown.enter="updateAppName(app, $event)">
                  {{app.appName}}
                </p>
              </div>
            </div>
          </div>
          <div class="wrapper" v-bind:style="scrollStyle" v-if="searchInput">
            <div class="app-container" tabindex="-1" v-for="app in filterSearch" @keydown="searchHandleKeyEvent(app, $event)" @keyUp="resetKeys">
              <div class="img-container">
                <img v-bind:src="app.imagePath" alt="" />
              </div>
              <div class="app-name">
                <div>
                  {{app.appName}}
                </div>
              </div>
            </div>
          </div>
          <div class="page-down" @click="pageDown" @dragenter="scrollDown"><i class="fa fa-angle-double-down fa-lg" aria-hidden="true"></i></div>
          <div class="page-up" @click="pageUp" @dragenter="scrollUp"><i class="fa fa-angle-double-up fa-lg" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="set-password">

      </div>
      <div class="enter-password">

      </div>
      <footer></footer>
    </div>
    <script src="directives/dragNsort.js" charset="utf-8"></script>
    <script src="directives/focus-on-display.js" charset="utf-8"></script>
    <script>require("./app.js")</script>
  </body>
</html>
